<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="BambooApiUser" value="george.pasparakis@peoplecert.org" />
    <add key="BambooApiKey" value="b0f3cf577226d6734d76521405a1e9895356eb7f:x" />
    <add key="BambooApiUrl" value="https://api.bamboohr.com/api/gateway.php/peoplecert/v1" />
    <add key="BambooCompanyUrl" value="https://peoplecert.bamboohr.com" />
  </appSettings>
</configuration>
